.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			.panel-heading
				%h1.text-center New Pin
			.panel-body	
				= render 'form'
			.panel-footer	
				= link_to "Back", root_path, class: "btn btn-default"