- if @pins.blank?
	%header.text-center
		%h1.span Sorry! No results found.
		= link_to "Back",root_path, class: "btn btn-lg btn-danger"
- else	
	#pins.transitions-enabled
		- @pins.each do |pin|
			.box.panel.panel-default
				= link_to (image_tag pin.image.url), pin
				
				%h2= link_to pin.title, pin
				%p.user
					Submitted by
					= pin.user.name