<header>
<h1> <span>Contact me</span> </h1>
<p class="kicker"> Have any queries just contact me through my e-mail or any other social media.
</p>
<p class="kicker">
Ping me queries and I'll try to solve them.
</p>

</header>

<div>
	Hello!
</div>